<h1><%= @game.name %></h1>

<ul>
  <li>Campaign hours: <%= @game.campaign_hours %></li>
  <li>Multiplayer?: <%= @game.multiplayer %></li>
  <li>Characters: <%= @game.character_count %></li>
  <li><%= link_to 'Game Characters', "/video_games/#{@game.id}/characters" %></li>
</ul>

<%= link_to 'Delete Video Game', "/video_games/#{@game.id}", method: :delete %>
