<h1><%= @library.name %>
  Books</h1>

<ul>
  <% @library.books.each do |book| %>
    <li>Title:
      <%= book.title %></li>
    <li>Author:
      <%= book.author_surname %></li>
    <li>Nonfiction?:
      <%= book.nonfiction %></li>
    <li>Year Published:
      <%= book.year_published %></li>
    <%= link_to 'Edit Book', "/books/#{book.id}/edit" %>
    |
    <%= link_to 'Delete Book', "/books/#{book.id}", method: :delete %>
    <br><br>
  <% end %>
</ul>
<%= link_to 'New Book', "/libraries/#{@library.id}/books/new" %>
<br>
<%= link_to 'Return to Library', "/libraries/#{@library.id}" %>
