<h1>New Library</h1>

<%= form_with url: '/libraries', method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :employees %>
  <%= f.number_field :employees %>
  <%= f.label :open_weekends %>
  <%= f.check_box :open_weekends %>
  <%= f.submit 'Create Library' %>
<% end %>
