<h1><%= @library.name %></h1>

<ul>
  <li>Employees:
    <%= @library.employees %></li>
  <li>Open Weekends?:
    <%= @library.open_weekends %></li>
  <li>Books:
    <%= @library.count %></li>
  <li><%= link_to 'Library Books', "/libraries/#{@library.id}/books" %></li>
</ul>
<%= link_to 'Return to Libraries', '/libraries' %>
