<h1>Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>Title:
      <%= book.title %></li>
    <li>Author:
      <%= book.author_surname %></li>
    <li>Nonfiction?:
      <%= book.nonfiction %></li>
    <li>Year Published:
      <%= book.year_published %></li>
    <li>Library:
      <%= book.library.name %></li>
      <%= link_to 'Info', "/books/#{book.id}" %> |
      <%= link_to 'Edit Book', "/books/#{book.id}/edit" %> | 
      <%= link_to 'Delete Book', "/books/#{book.id}", method: :delete %>
    <br><br>
  <% end %>
</ul>
