<h1><%= @game.name %> Characters</h1>

<ul>
<% @game_characters.each do |character| %>
  <li>Name: <%= character.name %> <%= link_to "Edit #{character.name}", "/video_games/#{@game.id}/characters/#{character.id}/edit" %></li>
  <li>Age: <%= character.age %></li>
  <li>Human?: <%= character.human %></li>
  <li><%= link_to "Delete #{character.name}", "/characters/#{character.id}", method: :delete %></li>
<% end %>
</ul>
<%= link_to 'Sort Alphabetically', "/video_games/#{@game.id}/characters?order=alpha" %>
<%= link_to 'New Character', "/video_games/#{@game.id}/characters/new" %>
<%= form_with url: "/video_games/#{@game.id}/characters?filter=age", method: :get, local: true do |f| %>
  <%= f.label 'Minimum Age:' %>
  <%= f.number_field :minimum_age %>
  <%= f.submit 'Apply Filter',class: 'btn btn-primary' , id: 'submit-button' %>
<% end %>

<!-- <script type="text/javascript">
  let button = document.getElementById("submit-button")
  let input = document.getElementById("minimum_age")

  input.addEventListener("input", function(e) {
    button.value = `Only return the records with more than ${e.target.value} of age.`
  })
</script> -->
